.vscode
*.pyc
*.pt
__pycache__
checkpoints
bak
*.zip
*.mat
*.db
aux
remote
*.avi
.rsyncignore
.ssh
data_syn.py
noise_models.py
data
camera_params/V4
plot.py
results/*
results_diffusion/*
*.jpg
datasets
images/
ablation copy.md
ablation.md
rawpy/
!images_github/